<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Login Page</h1>
      </header>
      <section>
        <a href="/sign-up">register</a>
      </section>
    </main>
  </body>
  <script>
    let obj = {};
    document.cookie.split(";").map((c) => {
      let kV = c.split("=");
      obj[kV[0]] = kV[1];
    });
    console.log(obj);
  </script>
</html>
