<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <header>
        <h1>Login Page</h1>
      </header>
      <section>
        <form action="/signIn" method="post">
          <label for="">email</label>
          <input type="email" name="email" /> <br />
          <% if (emailErr) { %> <%=emailErr %> <br />
          <% } %>
          <label for="">password</label>
          <input type="password" name="password" /> <br />

          <% if (passwordErr) { %> <%=passwordErr %> <br />
          <% } %>
          <button>Login</button>
        </form>
      </section>
      <section>
        <a href="/sign-up">register</a>
      </section>
    </main>
  </body>
</html>
