<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <main>
      <header>
        <h1>Login Page</h1>
      </header>
      <section>
        <form action="/signIn" method="post">
          <label for="">email</label>
          <input type="email" name="email" />
          <% if (emailErr) { %> <span></span>
          <span class="err"><%=emailErr %></span>
          <% } %>
          <label for="">password</label>
          <input type="password" name="password" />

          <% if (passwordErr) { %> <span></span>
          <span class="err"><%=passwordErr %> <% } %> </span>
          <button>Login</button>
        </form>
      </section>
      <section>create new account ? <a href="/sign-up">register</a></section>
    </main>
  </body>
</html>
